.DS_Store
assets/.DS_Store
assets/imgs/.DS_Store
assets/imgs/events/.DS_Store
assets.zip
assets/imgs/.DS_Store

residency/assets.zip
residency/assets
residency/DrummerB/xx.html
drag.html
assets/imgs/residency/notin