* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: monospace;
}

/* :root{

} */

body {
    background-color: black;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.albums {
    padding-left: 20%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: 7rem;
    justify-content: left;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.album {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.albumInfo {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 8px;
    text-align: center;
}

.albumInfo a {
    text-decoration: none;
}

a {
    color: white;
}

a:visited {
    color: white;
}

::-webkit-scrollbar {
    display: none;
}