* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: monospace;
}


body {
    background-color: black;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem;
}

.albums {
    width: 100%;
    padding-left: 20%;
    overflow-x: auto;

    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: left;
    gap: 7rem;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.album {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.albumInfo {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 8px;
    text-align: center;
}

.albumInfo a {
    text-decoration: none;
}

a {
    color: white;
}

a:visited {
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

nav {
    position: fixed;
    z-index: 1;
    top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;

}


.logo {
    position: fixed;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 700px;
    filter: invert(1);
    pointer-events: none;
}



nav a {
    text-decoration: none;
}

.events {
    color: white;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    width: 100%;
    padding: 5% 0% 0% 30%;
    width: 90%;
}

.event {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgb(61, 61, 61);
    padding: 15px 0px;
}

.eventsHead {
    display: flex;
    position: sticky;
    top: 0px;
    background-color: black;
    border-bottom: 1px solid rgb(61, 61, 61);
    padding: 10px 0px;
}

.eventsHead span {
    width: calc(100%/3);
    text-align: center;
    font-weight: 600;
}

.eventDate,
.eventTitle,
.eventLocation {
    max-width: calc(100%/3);
    width: calc(100%/3);

    text-align: left;

    cursor: default;
}

.eventLocation {
    text-align: right;
}

#poster {
    /* transition: all 0.1s; */
    animation: ease-in-out;
    max-width: 350px;
    position: fixed;
    opacity: .8;
    visibility: hidden;
}

body {
    color: white;
}

.About {
    display: flex;
    padding-left: 20%;
    flex-direction: column;
    padding-top: 3rem;
    gap: 1.5rem;
}

.thankyou {
    display: flex;
    padding-left: 20%;
    padding-top: 1.5rem;
}

#label-info {
    line-height: 20px;
}



.demos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 3rem;
    padding-left: 30%;
}

.contact {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 3rem;
    padding-left: 30%;
}

.titleSpan {
    font-size: 15px;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

input,
textarea,
button {
    background-color: black;
    color: white;
    border: 0.5px rgb(255, 255, 255) solid;
    outline: none;
    padding: 10px 30px;

}

button {
    cursor: pointer;
}

.links a img {
    width: 40px;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    position: fixed;
    right: 20px;
    padding: 1rem 0px;
    background-color: black;
    z-index: 1000;
}

.gallery {
    margin-top: 5.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.album img {
    width: 350px;
}

@media (max-width: 768px) {
    .logo {
        top: auto;
        bottom: 10%;
        transform: translateY(0%);
        width: 65%;
    }

    nav {
        top: 10%;
        flex-direction: column;
        gap: 20px;
    }


    .albums {
        padding-left: 0%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        justify-content: center;
        align-items: center;
        position: static;
        margin-top: 15%;
        transform: translateY(0%);
    }

    .album {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .events {
        color: white;
        display: flex;
        flex-direction: column;
        /* gap: 10px; */
        width: 100%;
        padding: 35% 10% 5% 10%;
        width: 100%;
    }

    .event {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border-bottom: 1px solid rgb(61, 61, 61);
        padding: 1rem 0px;
    }

    .eventsHead {
        position: sticky;
        top: 0px;
        padding: 15px 0px;
    }

    .links {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: fixed;
        right: 20px;
        z-index: 1000;
    }

    .gallery {
        margin-top: 1rem;
        gap: 2rem;
    }

    .gallery img {
        width: 100vw !important;
        /* height: 80vh; */
    }

    .About {
        display: flex;
        flex-direction: column;
        padding: 5rem 7% 5rem 20%;
        gap: 1.5rem;
    }

    .thankyou {
        display: flex;
        padding: 10% 10% 10% 25%;
    }

    #label-info {
        line-height: 20px;
    }

    .demos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        padding-left: 0%;
    }

    .contact {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        gap: 3rem;
        padding-left: 0%;
    }

    .titleSpan {
        font-size: 15px;
        padding-left: 20%;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-inline: 20%;
    }
}